<div class="container-fluid" style="margin-top: 60px">
    <div class="row-fluid">
        </div>
        <div class="span3 hidden-phone">
       </div>
        <div class="span9 panel">
            <%- partial('_pagelayout/article', {item: page, index: false}) %>
        </div>
</div>
