<div class="thumbnail">
</br>
<img id="touxiang" src="/img/hufeng825.jpg"  class="img-circle" alt="头像"  style="width: 130px; height: 150px;"  >
<p />
<p align="center"><strong><%- config.subtitle %></strong></p>
<hr/>
<p align="center"><%- config.description %></p>
</div>
</br>


