<div class="well">
<% if (theme.weibo.enable){ %>
<div class="widget">
<iframe width="100%" height="350" class="share_self"  allowTransparency="true" backgroundColor = "transparent" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_tw&width=0&height=550&fansRow=2&ptype=1&speed=300&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=2755327231&verifier=b0cc3bae&dpc=1"></iframe>
</div>
<% } %>
</div>

